.index-header  {
  height: 80px;
  background-color:rgb(89, 11, 161) ;
}
.nav {
  background-color: rgb(89, 11, 161);
  height: inherit;
}
.link {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.link:hover {
  
  background-color: rgb(69, 1, 134);
  border-radius: 2px;
  padding: 2px;
}

.gradient-custom {
  
  background: #6a11cb;
  
  
  background: -webkit-linear-gradient(to right, #424446, #121416);
  
  
  background: linear-gradient(to right, #424446, #121416)
  }
