

.boton-opcion:hover {
  background-color: rgb(241, 206, 129);
  color: white;
  border-radius: 10px;
  
}

.boton-opcion:focus {
  background-color: rgb(241, 206, 129);
  color: white;
  border-radius: 10px;
  
}