.sidebar {
  background-color: #150916;
  color: white;
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
}
.top_seccion {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 30px;
}
.link {
  display: flex;
  color: white;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background-color: rgb(206, 151, 34);
  color: white;
  text-decoration: none;
}
.active {
  background-color: rgb(206, 151, 34);
  color: white;
}
.icon, .link_text {
  font-size: 20px;
}

.contenedor {

  height: 100vh;
  display: flex;

}
main {
  width: 100%;
}
/*--------------------ESTILOS DE EL PARA EL FORMULARIO-------------------*/
.advertencia {
  height: 1rem;
}
.contraseña-container {
  position: relative;
  width: 100%;
  display: inline-block;
}

.contraseña-container .icon {
  position: absolute;
  top: 69%;
  right: 10px; /* Ajusta la posición del ícono */
  transform: translateY(-50%);
  cursor: pointer;
 
}
.contraseña-container .icon svg {
  font-size: 16px; /* Ajusta el tamaño del ícono*/
  color: #888; /* Ajusta el color del ícono*/
}